@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="card grey lighten-3">
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <form method="post" class="col s12">
                <div asp-validation-summary="All"></div>
                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Email" id="email" type="text" class="validate">
                        <label asp-for="Email" for="email">Email</label>
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Password" id="password" type="password" class="validate">
                        <label asp-for="Password" for="password">Password</label>
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" type="checkbox" class="filled-in" checked="checked" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                    <div class="col s9">
                        <button type="submit" class="waves-effect waves-light btn right">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row"></div>
    </div>
</div>