@model PublishMessageViewModel


<div class="actions">
    <input asp-for="File1" type="file" id="files" class="waves-effect waves-light btn-small teal lighten-2"><i class="material-icons left">attach_file</i></input>
    <button type="submit" class="waves-effect waves-light btn-small right">Post</button>
    <a class="waves-effect waves-light btn-small red darken-2" id="empty-file-input">
        <i class="material-icons">clear</i>
    </a>
</div>

