@model PublishMessageViewModel

<div class="card grey lighten-5">
    <form enctype="multipart/form-data" asp-action="PublishMessage" asp-controller="MessageBoard" method="post">
        <div class="row">
            <div id="input-message" class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea asp-for="Content" id="message" class="materialize-textarea"></textarea>
                <label for="message">Write a message...</label>
                <div class="row"></div>
                <div id="actions-bar" style="display: none">
                    @for (int i = 0; i < 5; i++)
                    {
                        <span class="row" id="add-file-@i">
                            @await Html.PartialAsync("~/Views/MessageBoard/_AddFile.cshtml", new LiubaSys.ViewModels.PublishMessageViewModel())
                        </span>
                    }
                </div>
                <div class="row"></div>
                <div>
                    <img id="image" style="max-width: 200px" />
                </div>
            </div>
        </div>
    </form>
</div>

