@model SendMessageModel
@{
    ViewData["Title"] = "Your private message has been sent!";
}

<nav class="teal lighten-2 center" style="font-size: 200%">
    @ViewData["Title"]
</nav>

<div>
    <div class="card grey lighten-3">
        <div class="card-content dark-text">
            <span class="card-title">@Model.Subject</span>
            <p>@Model.Content</p>
        </div>
        <div class="card-action">
            <a asp-action="Index" asp-controller="MessageBoard" class="waves-effect waves-light btn">Return</a>
        </div>
    </div>
</div>
