@model IEnumerable<MessagePublished>
@using System.Text.RegularExpressions;
@{
    int year = Model.Select(x => x.Year).First();
    ViewData["Title"] = $"Message Board - Year {year}";
}

@await Html.PartialAsync("~/Views/MessageBoard/_PublishMessage.cshtml", new LiubaSys.ViewModels.PublishMessageViewModel())

@foreach (var row in Model.Reverse())
{
    <div>
        <div class="card grey lighten-3">
            <div class="card-content dark-text">
                <span class="card-title">@String.Format("{0:dd/MM/yy HH:mm}", row.DatePublished)</span>
                <p>@row.Content</p><br />
                @if (row.File1 != null)
                {
                    Regex regex = new Regex(@"(?=_).*");
                    Match match = regex.Match(row.File1.ToString());
                    string fileName = match.ToString().Remove(0, 1);
                    <a href="~/Files/@row.File1" download>@fileName</a>
                }
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn">Reply</a>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script>
        $('#message').click(function () {
            $('#actions-bar').slideToggle("slow");
            $('#actions-bar').attr("id", "#actions-bar-active");
        });

        $('#empty-file-input').click(function () {
            $('#files').val('');
        });

        $('#add-file-1, #add-file-2, #add-file-3, #add-file-4').hide();
        var id = 1;
        $('.light-green').click(function () {
            if (id < 5) {
                $('#add-file-' + id).show();
                id++;
                console.log(id);
            }
        });

        document.getElementById("files").onchange = function () {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById("image").src = e.target.result;
            };

            reader.readAsDataURL(this.files[0]);
        }
    </script>
}