@model SendMessageModel
@{
    ViewData["Title"] = "Send a Private Message";
}

<div class="card grey lighten-3">
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <form method="post">
                <div class="row">
                    <div class="input-field">
                        <input asp-for="Subject" id="subject" type="text" class="validate" />
                        <label asp-for="Subject" for="subject">Subject</label>
                        <span asp-validation-for="Subject"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <textarea asp-for="Content" id="content" class="materialize-textarea" rows="10"></textarea>
                        <label asp-for="Content" for="content">Content</label>
                        <span asp-validation-for="Content"></span>
                    </div>
                </div>
                <button type="submit" class="waves-effect waves-light btn right">Send</button>
            </form>
        </div>
        <div class="row"></div>
    </div>
</div>